@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/arbfonts_Qurraan_sora.otf') format('woff2'),
        url('fonts/arbfonts_Qurraan_sora.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background: url('bac.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player-container,
.player-container1 {
    background-color: rgb(56 62 76 / 14%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.player-container {
    margin-top: -10px;
}

#album-cover {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0;
}

#title {
    font-family: 'CustomFont', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

#time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#artist {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.progress-container {
    background: #404040;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

#r {
    margin-top: 10px;
}

.progress {
    background: #1db954;
    border-radius: 5px;
    height: 100%;
    width: 0;
}

#current-time,
#total-time {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0 5px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

#play {
    color: #1db954;
}

#prev, #next {
    color: #b3b3b3;
}

#repeat.active, #shuffle.active {
    color: #1db954;
}

.song-slider-container {
    direction: rtl;
    overflow: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    margin: 0;
    margin-top: -15px;
    scrollbar-width: none;
    width: 100%;
    box-sizing: border-box;
}

.song-slider-container::-webkit-scrollbar {
    display: none;
}

.song-slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-item {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-shadow: 0 -1px 7px #000000;
}

.song-item:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.song-slider-container {
    max-width: calc(9 * (10px + 20px));
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#by {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.socials a {
    font-size: 1em;
    padding: 8px;
    margin-left: 5px;
    transition: 0.5s ease;
}

.socials a:hover {
    font-size: 1.1em;
}

#p1 {
    font-family: "Lateef", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

#back {
    font-size: 1.5em;
    margin: 10px;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.song-slider-container {
    overflow-x: auto;
    white-space: nowrap;
}

.song-item {
    display: inline-block;
    margin-right: 10px;
}

.song-item.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
    font-size: 18.5px;
    transform: scale(1.15);
    text-shadow: 0 3px 10px green;
}

.song-list {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.button-container button {
    flex: 1;
    margin: 0 5px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.button-container button:active {
    transform: scale(1.15);
}

.button-container button:focus {
    outline: none;
}

button {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) {
    .button-container {
        padding: 5px;
    }

    .button-container button {
        max-width: 40px;
        max-height: 40px;
    }
}
